
###################
###  Framework  ###
###################

**/__archive__
**/__build__
**/__dist__


#################
###  Default  ###
#################

**/node_modules
**/*.log
**/*.DS_Store

##########################
###  Package Managers  ###
##########################

###  npm  ###
package-lock.json

###  yarn  ###
yarn.lock

###  pnpm  ###
pnpm-lock.yaml
