html




	head

		title KanbanTool Extensions

		script(src="./script.js")

		//- Blank Favicon
		link(rel="icon" href="data:;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")




	body

		h1 KanbanTool Extensions
