json("./__CSS_Variables__.json"             ) // CardType_Manager
json("../FunctionBar/__CSS_Variables__.json") // FunctionBar


///###############//
///###  Utils  ###//
///###############//

CardTitle_BoxShadow()
	_CardType_BoxShadow(#00000066, #00000073)

FilterButton_BoxShadow()
	_CardType_BoxShadow(#0000, #0000)

_CardType_BoxShadow(shadowColor_1, shadowColor_2)
	box-shadow:
		/* BorderAccent.Outside   */  calc(0px - var(--title_Border_Width)) 0 0 0 var(--title_BorderAccent_Color),
		/* BorderAccent.Inside    */  inset var(--title_BorderAccent_Width) 0 0 0 var(--title_BorderAccent_Color),
		/* Border                 */  0 0 0 var(--title_Border_Width) var(--title_BorderColor_Main),
		/* BorderAccent.Shadow_2  */  inset calc(var(--title_BorderAccent_Width) + var(--title_BorderAccent_Shadow2_Width)) 0 0 0 #0004,
		/* BorderAccent.Shadow_1  */  inset calc(var(--title_BorderAccent_Width) + var(--title_BorderAccent_Shadow1_Width)) 0 0 0 #0002,
		/* Border.OutsideBorder   */  0 0 0 calc(var(--title_Border_Width) + 1px) var(--title_BorderColor_Outside),
		/* Border.InsideBorder    */  inset 0 0 0 1px var(--title_BorderColor_Inside),
		/* Shadow                 */  5px 5px  8px 0px  shadowColor_1,
		/* Shadow                 */  5px 11px 8px -7px shadowColor_2 \
		!important


//###################################//
//###  FunctionBar & Board.Cards  ###//
//###################################//

kt-board kt-task, // CardFace
.{FunctionBar-container} .cell.filter

		//###  Static  ###//
		--title_Border_Width:  5px

		//###  Dynamic: JS  ###//
		--title_Background_Color:     #0000
		--title_Foreground_Color:     #444
		--title_BorderColor_Main:     #0000
		--title_BorderColor_Inside:   #0004
		--title_BorderColor_Outside:  #888
		--title_BorderAccent_Color:   #0000

		//###  Dynamic: CSS  ###//
		--title_BorderAccent_Width:          0px
		--title_BorderAccent_Shadow1_Width:  0px
		--title_BorderAccent_Shadow2_Width:  0px

		&.borderAccent_Enabled
			--title_BorderAccent_Width:          5px
			--title_BorderAccent_Shadow1_Width:  3px
			--title_BorderAccent_Shadow2_Width:  1px

kt-board kt-task .kt-task-body, // CardFace.Title
.{FunctionBar-container} .cell.filter
		border-radius:     3px                            !important
		background-color:  var(--title_Background_Color)  !important
		color:             var(--title_Foreground_Color)  !important
		border:            none                           !important


//#####################//
//###  FunctionBar  ###//
//#####################//

.{FunctionBar-container}

	.cell.filter

		FilterButton_BoxShadow()
		margin:   12px 18px 12px 6px                                         !important
		padding:  3px 10px 3px calc(10px + var(--title_BorderAccent_Width))  !important

		&:last-child
			margin-right:  0  !important

	.cell.filter.active
		opacity:  1  !important

	.cell.filter.inactive
		opacity:  0.4  !important


//#####################//
//###  Board.Cards  ###//
//#####################//

kt-board

	//###  CardFace  ###//
	kt-task
		border-radius:  4px      !important
		background:     #EAEAEA  !important
		color:          #333     !important
		box-shadow:
			/* Border */  inset 0 0 0 1px #C3C3C3,
			/* Shadow */  1px 1px 3px 0 #0002 \
			!important

		//###  Header  ###//
		.kt-task-header
			display:  none  !important

		//###  Title  ###//
		.kt-task-body
			CardTitle_BoxShadow()
			margin:   5px                                                      !important
			padding:  7px 7px 4px calc(7px + var(--title_BorderAccent_Width))  !important


//############################//
//###  CardFace.CheckList  ###//
//############################//

kt-board

	//###  Item  ###//
	.kt-interactive_checklists-checklist li label
		margin-right:  13px  !important

	//###  Item.URL  ###//
	kt-task > .kt-task-footer > ul > li > label > a
		color:        #444  !important
		font-weight:  bold  !important


//###########################//
//###  CardDetail.Header  ###//
//###########################//

kt-taskview
	background:  #E0E0E0  !important
