json("./__CSS_Variables__.json"             ) // CardType_Manager
json("../FunctionBar/__CSS_Variables__.json") // FunctionBar


//###################################//
//###  FunctionBar & Board.Cards  ###//
//###################################//

kt-board kt-task, // CardFace
.{FunctionBar-container} .cell.filter
		--title_BorderWidth:                5px
		--title_Default_BorderAccentWidth:  5px
		--title_BorderAccentWidth:          0px
		--title_BorderAccentColor:          #0000
		--title_BorderColor:                #0000
		--title_BackgroundColor:            #0000
		--title_ForegroundColor:            #444

		&.borderAccent_Enabled
			--title_BorderAccentWidth:  var(--title_Default_BorderAccentWidth)

kt-board kt-task .kt-task-body, // CardFace.Title
.{FunctionBar-container} .cell.filter
		padding:           7px 7px 4px calc(7px + var(--title_BorderAccentWidth))  !important
		border-radius:     3px                                                     !important
		background-color:  var(--title_BackgroundColor)                            !important
		color:             var(--title_ForegroundColor)                            !important
		border:            none                                                    !important

//#####################//
//###  FunctionBar  ###//
//#####################//

.{FunctionBar-container}

	.cell.filter
		FilterButton_BoxShadow()
		margin:  12px 20px 12px 15px  !important

	// .cell.filter.active,
	// .cell.filter.inactive
	// 	--filterColor:  #000
	// 	padding-top:    14px
	// 	color:          #666
	// 	box-shadow:
	// 		inset 0 7px 0 0 var(--filterColor),
	// 		inset 0 8px 0 0 #AAA \
	// 		!important

	// .cell.filter.inactive
	// 	background:  #AAA
	// 	color:       #777
	// 	box-shadow:
	// 		inset 0 10px 15px -2px #0003,
	// 		inset 0 7px 0 0 var(--filterColor),
	// 		inset 0 8px 0 0 #AAA \
	// 		!important


//#####################//
//###  Board.Cards  ###//
//#####################//

kt-board

	//###  CardFace  ###//
	kt-task
		border-radius:  4px      !important
		background:     #EAEAEA  !important
		color:          #333     !important
		box-shadow:
			/* Border */  inset 0 0 0 1px #C3C3C3,
			/* Shadow */  1px 1px 3px 0 #0002 \
			!important

		//###  Header  ###//
		.kt-task-header
			display:  none  !important

		//###  Title  ###//
		.kt-task-body
			CardTitle_BoxShadow()
			margin:  5px  !important


//############################//
//###  CardFace.CheckList  ###//
//############################//

kt-board

	//###  Item  ###//
	.kt-interactive_checklists-checklist li label
		margin-right:  13px  !important

	//###  Item.URL  ###//
	kt-task > .kt-task-footer > ul > li > label > a
		color:        #444  !important
		font-weight:  bold  !important


///###############//
///###  Utils  ###//
///###############//

CardTitle_BoxShadow()
	_CardType_BoxShadow(0px, #0009, #0007)

FilterButton_BoxShadow()
	_CardType_BoxShadow(5px, #0000, #0000)

_CardType_BoxShad + borderAccent_Offset) shadowColor_1, shadowColor_2)
	box-shadow:
		/* BorderAccent.Outside */  calc(0px - var(--title_BorderWidth)) 0 0 0 var(--title_BorderAccentColor),
		/* BorderAccent.Inside  */  inset ("calc(var(--title_BorderAccentWidth) + %arg_1)" % borderAccent_Offset) 0 0 0 var(--title_BorderAccentColor),
		/* Border               */  0 0 0 var(--title_BorderWidth) var(--title_BorderColor),
		/* BorderAccent.Shadow  */  inset calc(var(--title_BorderAccentWidth) + 1px) 0 0 0 #0004,
		/* BorderAccent.Shadow  */  inset calc(var(--title_BorderAccentWidth) + 3px) 0 0 0 #0002,
		/* Border.OutsideBorder */  0 0 0 calc(var(--title_BorderWidth) + 1px) #888,
		/* Border.InsideBorder  */  inset 0 0 0 1px #0004,
		/* Shadow               */  5px 5px  8px 0px  shadowColor_1,
		/* Shadow               */  5px 11px 8px -7px shadowColor_2 \
		!important
