
#AYYYYY
	width:         100%
	table-layout:  fixed
	z-index:       10

	#LMAO
		background-color:  #444
		color:             #EEE
		text-align:        center
		padding:           2px
		cursor:            pointer
		position:          relative
		user-select:       none
		border:            1px solid #D4D4D4
		box-shadow:        0 -1px 1px rgba(0,0,0,0.065)
