json("./CSS_Variables.json")


//################//
//###  Custom  ###//
//################//

.{container}
	display:         flex
	flex-direction:  column
	position:        fixed
	top:             0
	left:            0
	width:           100%
	height:          100%
	z-index:         1000
	pointer-events:  none

	.left, .right, .top, .bottom
		pointer-events:  auto

	.top
		background:  #F77
	.center
		.left
			background:  #7F7
		.right
			background:  #77F
	.bottom
		background:  #F7F

	.center
		display:          flex
		justify-content:  space-between
		flex-direction:   row
		flex-grow:  1

		.left, .right
			display:          flex
			flex-direction:   row

			.column
				display:         flex
				flex-direction:  column

				.cell
					text-align:  left

	.top, .bottom
		display:         flex
		flex-direction:  column

		.row
			display:          flex
			flex-direction:   row
			justify-content:  center

			.cell
				text-align:  center

			&.stretch
				margin:  auto

	.cell
		border:       1px solid black
		padding:      5px
		user-select:  none
		cursor:       pointer



//#############################//
//###  KanbanTool - Layout  ###//
//#############################//

:root
	--KanbanToolOffsets_NavHeight:   0px
	--KanbanToolOffsets_TopHeight:   0px
	--KanbanToolOffsets_LeftWidth:   0px
	--KanbanToolOffsets_RightWidth:  0px

nav.navbar
	margin-top:   var(--KanbanToolOffsets_TopHeight)                                                       !important
	margin-left:  var(--KanbanToolOffsets_LeftWidth)                                                       !important
	width:        calc(100% - (var(--KanbanToolOffsets_LeftWidth) + var(--KanbanToolOffsets_RightWidth)))  !important

.kt-side-panel-slide > kt-board
	margin-top:    calc(var(--KanbanToolOffsets_TopHeight) + var(--KanbanToolOffsets_NavHeight))  !important
	margin-left:   var(--KanbanToolOffsets_LeftWidth )                                            !important
	margin-right:  var(--KanbanToolOffsets_RightWidth)                                            !important

.kt-side-panel-slide > .kt-extensions-swimlane_labels
	left:  var(--KanbanToolOffsets_LeftWidth )  !important

.kt-hint-labels-container
	top:  calc(var(--KanbanToolOffsets_TopHeight) - 8px)  !important


//############################//
//###  KanbanTool - Style  ###//
//############################//

nav.navbar > .navbar-inner
	background-color:  rgba(243, 243, 244, 1)  !important

.kt-hint-labels-container .kt-hint-label
	background-color:  #F9F9F9         !important
	border:            solid #DDD 1px  !important

.kt-extensions-swimlane_labels ._swimlane_label
	margin:            0               !important
	background-color:  #F9F9F9         !important
	border:            solid #DDD 1px  !important
	border-top:        none            !important
	&:first-child
		border-top:  solid #DDD 1px  !important
