.CustomExtension__FunctionBar

	.top
		.row.stretch.expand-button.hidden
			.cell ⯆

	.center

		.left
			.column.expand-button.hidden
				.cell ⯈

		.right
			.column.expand-button.hidden
				.cell ⯇

	.bottom
		.row.stretch.expand-button.hidden
			.cell ⯅
