.CustomExtension__FunctionBar
	.top
		.row
			.cell A
			.cell B
			.cell C
		.row
			.cell D
			.cell E
			.cell F
	.center
		.left
			.column
				.cell A
				.cell B
				.cell C
			.column
				.cell D
				.cell E
				.cell F

		.right
			.column
				.cell A
				.cell B
				.cell C
			.column
				.cell D
				.cell E
				.cell F
	.bottom
		.row
			.cell A
			.cell B
			.cell C
		.row
			.cell D
			.cell E
			.cell F
