.FunctionBars

	.top.empty
		.row.stretch.expand-button.hidden
			.cell ⯆

	.center

		.left.empty
			.column.expand-button.hidden
				.cell ⯈

		.right.empty
			.column.expand-button.hidden
				.cell ⯇

	.bottom.empty
		.row.stretch.expand-button.hidden
			.cell ⯅
