.CustomExtension__FunctionBar

	.top
		.row.stretch.collapsed
			.cell ⯆

	.center

		.left
			.column.collapsed
				.cell ⯈

		.right
			.column.collapsed
				.cell ⯇

	.bottom
		.row.stretch.collapsed
			.cell ⯅
