json("./CSS_Variables.json")


//################//
//###  Custom  ###//
//################//

.{root}
	position:        fixed
	display:         flex
	flex-direction:  column
	z-index:         10
	background:      #444

	&.{leftBar}
		left:    0
		height:  100%
	&.{rightBar}
		right:   0
		height:  100%
	&.{topBar}
		top:    0
		width:  100%
	&.{bottomBar}
		bottom:  0
		width:   100%

	.{legendRow}
		display:        flex
		flex-direction: row

		.{legendCell}
			flex-grow:         1
			padding:           2px
			user-select:       none
			cursor:            pointer
			background-color:  #444
			color:             #EEE
			border:            1px solid #D4D4D4
			box-shadow:        0 -1px 1px rgba(0,0,0,0.065)
			text-align:        center


//################//
//###  Custom  ###//
//################//

.navbar
	position:  relative  !important
