json("./CSS_Variables.json")


//###############//
//###  Custom  ##//
//###############//

.{extension}
	width:         100%
	table-layout:  fixed
	z-index:       10
	background:    #444

.{legendContainer}
	position:       fixed
	display:        flex
	flex-direction: column
	bottom:         0

	.{legendRow}
		display:        flex
		flex-direction: row

		.{legendCell}
			flex-grow:         1
			padding:           2px
			user-select:       none
			cursor:            pointer
			background-color:  #444
			color:             #EEE
			border:            1px solid #D4D4D4
			box-shadow:        0 -1px 1px rgba(0,0,0,0.065)
			text-align:        center


//###################//
//###  KanbanTool  ##//
//###################//

.kt-extensions-card_legend
	position:  static  !important

#show > div.kt-side-panel-slide
	margin-bottom:  70px  !important
