kt-board kt-task,
.FunctionBars .cell.filter {
  --title_Border_Width: 5px;
  --title_Background_Color: rgba(0,0,0,0);
  --title_Foreground_Color: #444;
  --title_BorderColor_Main: rgba(0,0,0,0);
  --title_BorderColor_Inside: rgba(0,0,0,0.267);
  --title_BorderColor_Outside: #888;
  --title_BorderAccent_Color: rgba(0,0,0,0);
  --title_BorderAccent_Width: 0px;
  --title_BorderAccent_Shadow1_Width: 0px;
  --title_BorderAccent_Shadow2_Width: 0px;
}
kt-board kt-task.borderAccent_Enabled,
.FunctionBars .cell.filter.borderAccent_Enabled {
  --title_BorderAccent_Width: 5px;
  --title_BorderAccent_Shadow1_Width: 3px;
  --title_BorderAccent_Shadow2_Width: 1px;
}
kt-board kt-task .kt-task-body,
.FunctionBars .cell.filter {
  border-radius: 3px !important;
  background-color: var(--title_Background_Color) !important;
  color: var(--title_Foreground_Color) !important;
  border: none !important;
}
.FunctionBars .cell.filter {
  box-shadow: /* BorderAccent.Outside   */ calc(0px - var(--title_Border_Width)) 0 0 0 var(--title_BorderAccent_Color), /* BorderAccent.Inside    */ inset var(--title_BorderAccent_Width) 0 0 0 var(--title_BorderAccent_Color), /* Border                 */ 0 0 0 var(--title_Border_Width) var(--title_BorderColor_Main), /* BorderAccent.Shadow_2  */ inset calc(var(--title_BorderAccent_Width) + var(--title_BorderAccent_Shadow2_Width)) 0 0 0 rgba(0,0,0,0.267), /* BorderAccent.Shadow_1  */ inset calc(var(--title_BorderAccent_Width) + var(--title_BorderAccent_Shadow1_Width)) 0 0 0 rgba(0,0,0,0.133), /* Border.OutsideBorder   */ 0 0 0 calc(var(--title_Border_Width) + 1px) var(--title_BorderColor_Outside), /* Border.InsideBorder    */ inset 0 0 0 1px var(--title_BorderColor_Inside), /* Shadow                 */ 5px 5px 8px 0px rgba(0,0,0,0), /* Shadow                 */ 5px 11px 8px -7px rgba(0,0,0,0) !important;
  margin: 12px 18px 12px 6px !important;
  padding: 3px 10px 3px calc(10px + var(--title_BorderAccent_Width)) !important;
}
.FunctionBars .cell.filter:last-child {
  margin-right: 0 !important;
}
.FunctionBars .cell.filter.active {
  opacity: 1 !important;
}
.FunctionBars .cell.filter.inactive {
  opacity: 0.4 !important;
}
kt-board kt-task {
  border-radius: 4px !important;
  background: #eaeaea !important;
  color: #333 !important;
  box-shadow: /* Border */ inset 0 0 0 1px #c3c3c3, /* Shadow */ 1px 1px 3px 0 rgba(0,0,0,0.133) !important;
}
kt-board kt-task .kt-task-header {
  display: none !important;
}
kt-board kt-task .kt-task-body {
  box-shadow: /* BorderAccent.Outside   */ calc(0px - var(--title_Border_Width)) 0 0 0 var(--title_BorderAccent_Color), /* BorderAccent.Inside    */ inset var(--title_BorderAccent_Width) 0 0 0 var(--title_BorderAccent_Color), /* Border                 */ 0 0 0 var(--title_Border_Width) var(--title_BorderColor_Main), /* BorderAccent.Shadow_2  */ inset calc(var(--title_BorderAccent_Width) + var(--title_BorderAccent_Shadow2_Width)) 0 0 0 rgba(0,0,0,0.267), /* BorderAccent.Shadow_1  */ inset calc(var(--title_BorderAccent_Width) + var(--title_BorderAccent_Shadow1_Width)) 0 0 0 rgba(0,0,0,0.133), /* Border.OutsideBorder   */ 0 0 0 calc(var(--title_Border_Width) + 1px) var(--title_BorderColor_Outside), /* Border.InsideBorder    */ inset 0 0 0 1px var(--title_BorderColor_Inside), /* Shadow                 */ 5px 5px 8px 0px rgba(0,0,0,0.4), /* Shadow                 */ 5px 11px 8px -7px rgba(0,0,0,0.451) !important;
  margin: 5px !important;
  padding: 7px 7px 4px calc(7px + var(--title_BorderAccent_Width)) !important;
}
kt-board .kt-interactive_checklists-checklist li label {
  margin-right: 13px !important;
}
kt-board kt-task > .kt-task-footer > ul > li > label > a {
  color: #444 !important;
  font-weight: bold !important;
}
kt-taskview {
  background: #e0e0e0 !important;
}

