kt-board kt-task,
.FunctionBars .cell.filter {
  --title_BorderWidth: 5px;
  --title_Default_BorderAccentWidth: 5px;
  --title_BorderAccentWidth: 0px;
  --title_BorderAccentColor: rgba(0,0,0,0);
  --title_BorderColor: rgba(0,0,0,0);
  --title_BackgroundColor: rgba(0,0,0,0);
  --title_ForegroundColor: #444;
}
kt-board kt-task.borderAccent_Enabled,
.FunctionBars .cell.filter.borderAccent_Enabled {
  --title_BorderAccentWidth: var(--title_Default_BorderAccentWidth);
}
kt-board kt-task .kt-task-body,
.FunctionBars .cell.filter {
  padding: 7px 7px 4px calc(7px + var(--title_BorderAccentWidth)) !important;
  border-radius: 3px !important;
  background-color: var(--title_BackgroundColor) !important;
  color: var(--title_ForegroundColor) !important;
  border: none !important;
}
.FunctionBars .cell.filter {
  box-shadow: /* BorderAccent.Outside */ calc(0px - var(--title_BorderWidth)) 0 0 0 var(--title_BorderAccentColor), /* BorderAccent.Inside  */ inset var(--title_BorderAccentWidth) 0 0 0 var(--title_BorderAccentColor), /* Border               */ 0 0 0 var(--title_BorderWidth) var(--title_BorderColor), /* BorderAccent.Shadow  */ inset calc(var(--title_BorderAccentWidth) + 1px) 0 0 0 rgba(0,0,0,0.267), /* BorderAccent.Shadow  */ inset calc(var(--title_BorderAccentWidth) + 3px) 0 0 0 rgba(0,0,0,0.133), /* Border.OutsideBorder */ 0 0 0 calc(var(--title_BorderWidth) + 1px) #888, /* Border.InsideBorder  */ inset 0 0 0 1px rgba(0,0,0,0.267), /* Shadow               */ 5px 5px 8px 0px rgba(0,0,0,0), /* Shadow               */ 5px 11px 8px -7px rgba(0,0,0,0) !important;
  margin: 12px 20px 12px 15px;
}
.FunctionBars .cell.filter.active {
  opacity: 1;
}
.FunctionBars .cell.filter.inactive {
  opacity: 0.5;
}
kt-board kt-task {
  border-radius: 4px !important;
  background: #eaeaea !important;
  color: #333 !important;
  box-shadow: /* Border */ inset 0 0 0 1px #c3c3c3, /* Shadow */ 1px 1px 3px 0 rgba(0,0,0,0.133) !important;
}
kt-board kt-task .kt-task-header {
  display: none !important;
}
kt-board kt-task .kt-task-body {
  box-shadow: /* BorderAccent.Outside */ calc(0px - var(--title_BorderWidth)) 0 0 0 var(--title_BorderAccentColor), /* BorderAccent.Inside  */ inset var(--title_BorderAccentWidth) 0 0 0 var(--title_BorderAccentColor), /* Border               */ 0 0 0 var(--title_BorderWidth) var(--title_BorderColor), /* BorderAccent.Shadow  */ inset calc(var(--title_BorderAccentWidth) + 1px) 0 0 0 rgba(0,0,0,0.267), /* BorderAccent.Shadow  */ inset calc(var(--title_BorderAccentWidth) + 3px) 0 0 0 rgba(0,0,0,0.133), /* Border.OutsideBorder */ 0 0 0 calc(var(--title_BorderWidth) + 1px) #888, /* Border.InsideBorder  */ inset 0 0 0 1px rgba(0,0,0,0.267), /* Shadow               */ 5px 5px 8px 0px rgba(0,0,0,0.6), /* Shadow               */ 5px 11px 8px -7px rgba(0,0,0,0.467) !important;
  margin: 5px !important;
}
kt-board .kt-interactive_checklists-checklist li label {
  margin-right: 13px !important;
}
kt-board kt-task > .kt-task-footer > ul > li > label > a {
  color: #444 !important;
  font-weight: bold !important;
}

