.FunctionBars {
  --BorderColor: #ababb1;
  --ExpandButton_Color: #6a6a6a;
  --RowDivider_Height: 35px;
  --ColumnDivider_Height: 24px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}
.FunctionBars .left,
.FunctionBars .right,
.FunctionBars .top,
.FunctionBars .bottom {
  display: flex;
  pointer-events: auto;
  background: #c6c6cc;
}
.FunctionBars .left {
  border-right: 1px solid var(--BorderColor);
}
.FunctionBars .right {
  border-left: 1px solid var(--BorderColor);
}
.FunctionBars .top {
  border-bottom: 1px solid var(--BorderColor);
}
.FunctionBars .bottom {
  border-top: 1px solid var(--BorderColor);
}
.FunctionBars .center {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: 1;
}
.FunctionBars .center .left,
.FunctionBars .center .right {
  display: flex;
  flex-direction: row;
}
.FunctionBars .center .left .column,
.FunctionBars .center .right .column {
  display: flex;
  flex-direction: column;
}
.FunctionBars .center .left .column .cell,
.FunctionBars .center .right .column .cell {
  text-align: left;
}
.FunctionBars .center .left .column .divider,
.FunctionBars .center .right .column .divider {
  height: var(--ColumnDivider_Height);
}
.FunctionBars .center .left .column .groupLabel,
.FunctionBars .center .right .column .groupLabel {
  padding-left: 5px;
}
.FunctionBars .center .left .column .groupLabel:first-child,
.FunctionBars .center .right .column .groupLabel:first-child {
  margin-top: var(--ColumnDivider_Height);
}
.FunctionBars .top,
.FunctionBars .bottom {
  display: flex;
  flex-direction: column;
}
.FunctionBars .top .row,
.FunctionBars .bottom .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.FunctionBars .top .row .cell,
.FunctionBars .bottom .row .cell {
  text-align: center;
  white-space: nowrap;
}
.FunctionBars .top .row .divider,
.FunctionBars .bottom .row .divider {
  width: var(--RowDivider_Height);
}
.FunctionBars .top .row .groupLabel,
.FunctionBars .bottom .row .groupLabel {
  align-self: center;
  margin-right: 10px;
}
.FunctionBars .top .row.stretch,
.FunctionBars .bottom .row.stretch {
  margin: 0;
}
.FunctionBars .top .row.stretch .cell,
.FunctionBars .bottom .row.stretch .cell {
  flex: 1;
}
.FunctionBars .cell {
  flex: 0;
  min-width: fit-content;
  min-height: fit-content;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid var(--BorderColor);
  background: #d9d9de;
  color: #505052;
}
.FunctionBars .groupLabel {
  color: #505050;
  font-size: 14px;
  font-weight: bold;
}
.FunctionBars .left.empty,
.FunctionBars .right.empty,
.FunctionBars .top.empty,
.FunctionBars .bottom.empty,
.FunctionBars .left.collapsed > :not(.expand-button),
.FunctionBars .right.collapsed > :not(.expand-button),
.FunctionBars .top.collapsed > :not(.expand-button),
.FunctionBars .bottom.collapsed > :not(.expand-button),
.FunctionBars .left:not(.collapsed) > .expand-button,
.FunctionBars .right:not(.collapsed) > .expand-button,
.FunctionBars .top:not(.collapsed) > .expand-button,
.FunctionBars .bottom:not(.collapsed) > .expand-button {
  display: none;
}
.FunctionBars .left .column.expand-button > .cell,
.FunctionBars .right .column.expand-button > .cell {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0 2px 0 1px;
  font-size: 15pt;
  color: var(--ExpandButton_Color);
}
.FunctionBars .top .row.expand-button > .cell,
.FunctionBars .bottom .row.expand-button > .cell {
  padding: 0 0 2px 0;
  line-height: 18px;
  font-size: 14pt;
  color: var(--ExpandButton_Color);
}
:root {
  --KanbanToolOffsets_NavHeight: 0px;
  --KanbanToolOffsets_TopHeight: 0px;
  --KanbanToolOffsets_LeftWidth: 0px;
  --KanbanToolOffsets_RightWidth: 0px;
  --KanbanToolOffsets_TopOffset: 0px;
}
nav.navbar {
  margin-top: var(--KanbanToolOffsets_TopHeight) !important;
  margin-left: var(--KanbanToolOffsets_LeftWidth) !important;
  width: calc(100% - (var(--KanbanToolOffsets_LeftWidth) + var(--KanbanToolOffsets_RightWidth))) !important;
}
.kt-side-panel-slide kt-board {
  margin-top: var(--KanbanToolOffsets_TopOffset) !important;
  margin-bottom: calc(var(--KanbanToolOffsets_TopOffset) + 17px) !important;
  margin-left: var(--KanbanToolOffsets_LeftWidth) !important;
  margin-right: var(--KanbanToolOffsets_RightWidth) !important;
}
.kt-side-panel-slide .kt-extensions-swimlane_labels {
  left: var(--KanbanToolOffsets_LeftWidth) !important;
}
.kt-hint-labels-container {
  top: calc(var(--KanbanToolOffsets_TopHeight) - 8px) !important;
}
nav.navbar > .navbar-inner {
  background-color: #f3f3f4 !important;
}
.kt-hint-labels-container.kt-hint-label {
  background-color: #f9f9f9 !important;
  border: solid #ddd 1px !important;
}
.kt-extensions-swimlane_labels._swimlane_label {
  margin: 0 !important;
  background-color: #f9f9f9 !important;
  border: solid #ddd 1px !important;
  border-top: none !important;
}
.kt-extensions-swimlane_labels._swimlane_label:first-child {
  border-top: solid #ddd 1px !important;
}

