.CustomExtension__FunctionBar {
  --BorderColor: #ababb1;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
}
.CustomExtension__FunctionBar .left,
.CustomExtension__FunctionBar .right,
.CustomExtension__FunctionBar .top,
.CustomExtension__FunctionBar .bottom {
  display: flex;
  pointer-events: auto;
  background: #c6c6cc;
}
.CustomExtension__FunctionBar .left.hidden *,
.CustomExtension__FunctionBar .right.hidden *,
.CustomExtension__FunctionBar .top.hidden *,
.CustomExtension__FunctionBar .bottom.hidden * {
  display: none;
  width: 0;
  height: 0;
}
.CustomExtension__FunctionBar .left {
  border-right: 1px solid var(--BorderColor);
}
.CustomExtension__FunctionBar .right {
  border-left: 1px solid var(--BorderColor);
}
.CustomExtension__FunctionBar .top {
  border-bottom: 1px solid var(--BorderColor);
}
.CustomExtension__FunctionBar .bottom {
  border-top: 1px solid var(--BorderColor);
}
.CustomExtension__FunctionBar .center {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-grow: 1;
}
.CustomExtension__FunctionBar .center .left,
.CustomExtension__FunctionBar .center .right {
  display: flex;
  flex-direction: row;
}
.CustomExtension__FunctionBar .center .left .column,
.CustomExtension__FunctionBar .center .right .column {
  display: flex;
  flex-direction: column;
}
.CustomExtension__FunctionBar .center .left .column .cell,
.CustomExtension__FunctionBar .center .right .column .cell {
  text-align: left;
}
.CustomExtension__FunctionBar .top,
.CustomExtension__FunctionBar .bottom {
  display: flex;
  flex-direction: column;
}
.CustomExtension__FunctionBar .top .row,
.CustomExtension__FunctionBar .bottom .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.CustomExtension__FunctionBar .top .row .cell,
.CustomExtension__FunctionBar .bottom .row .cell {
  text-align: center;
  white-space: nowrap;
}
.CustomExtension__FunctionBar .top .row.stretch,
.CustomExtension__FunctionBar .bottom .row.stretch {
  margin: 0;
}
.CustomExtension__FunctionBar .top .row.stretch .cell,
.CustomExtension__FunctionBar .bottom .row.stretch .cell {
  flex: 1;
}
.CustomExtension__FunctionBar .cell {
  flex: 0;
  padding: 5px;
  user-select: none;
  cursor: pointer;
  border: 1px solid var(--BorderColor);
  background: #d9d9de;
  color: #505052;
}
:root {
  --KanbanToolOffsets_NavHeight: 0px;
  --KanbanToolOffsets_TopHeight: 0px;
  --KanbanToolOffsets_LeftWidth: 0px;
  --KanbanToolOffsets_RightWidth: 0px;
  --KanbanToolOffsets_TopOffset: 0px;
}
nav.navbar {
  margin-top: var(--KanbanToolOffsets_TopHeight) !important;
  margin-left: var(--KanbanToolOffsets_LeftWidth) !important;
  width: calc(100% - (var(--KanbanToolOffsets_LeftWidth) + var(--KanbanToolOffsets_RightWidth))) !important;
}
.kt-side-panel-slide > kt-board {
  margin-top: var(--KanbanToolOffsets_TopOffset) !important;
  margin-bottom: var(--KanbanToolOffsets_TopOffset) !important;
  margin-left: var(--KanbanToolOffsets_LeftWidth) !important;
  margin-right: var(--KanbanToolOffsets_RightWidth) !important;
}
.kt-side-panel-slide > .kt-extensions-swimlane_labels {
  left: var(--KanbanToolOffsets_LeftWidth) !important;
}
.kt-hint-labels-container {
  top: calc(var(--KanbanToolOffsets_TopHeight) - 8px) !important;
}
nav.navbar > .navbar-inner {
  background-color: #f3f3f4 !important;
}
.kt-hint-labels-container .kt-hint-label {
  background-color: #f9f9f9 !important;
  border: solid #ddd 1px !important;
}
.kt-extensions-swimlane_labels ._swimlane_label {
  margin: 0 !important;
  background-color: #f9f9f9 !important;
  border: solid #ddd 1px !important;
  border-top: none !important;
}
.kt-extensions-swimlane_labels ._swimlane_label:first-child {
  border-top: solid #ddd 1px !important;
}

